@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

html {
  font-size: 100%;
} /*16px*/

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary-100: #ffefd5;
  --primary-200: #ffdfab;
  --primary-300: #ffcf80;
  --primary-400: #ffbf56;
  --primary-500: #ffaf2c;
  --primary-600: #cc8c23;
  --primary-700: #99691a;
  --primary-800: #664612;
  --primary-900: #332309;

  /* grey */
  --grey-50: #fafaf9;
  --grey-100: #f5f5f4;
  --grey-200: #e7e5e4;
  --grey-300: #d6d3d1;
  --grey-400: #a8a29e;
  --grey-500: #78716c;
  --grey-600: #57534e;
  --grey-700: #44403c;
  --grey-800: #292524;
  --grey-900: #1c1917;

  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* box shadows */
  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);

  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);

  /* rest of the variables */
  --letterSpacing: 1px;
  --borderRadius: 0.25rem;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
}

body {
  background: var(--backgroundColor);
  font-family: ;
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

p {
  margin-bottom: 1.25rem;
  width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.25rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: 0.75rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
