@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

html {
  font-size: 100%;
} /*16px*/
*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  /* colors */
  --blue: #2172e5;
  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  --black: #222;
  --white: #fff;

  /* box shadows */
  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);

  --backgroundColor: var(--grey-900);
  --textColor: #fff;

  /* rest of the variables */
  --letterSpacing: 1px;
  --borderRadius: 0.5em;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
}

body {
  background: var(--backgroundColor);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.25rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: 0.75rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* loading animation */
.loading {
  width: 3rem;
  height: 3rem;
  border-top: 3px solid var(--grey-700);
  border-right: 3px solid transparent;
  border-radius: 50%;
  animation: spinner 0.8s linear infinite;
  margin: 0 auto;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
